@{
    ViewBag.Title = "Контакт";
}
<h2>@ViewBag.Title.</h2>
<h3>Разработал Грушев Артем Валерьевич</h3>

<address>
    <abbr title="Phone">Тел:</abbr>
    +79821719781
</address>

<address>
    <strong>Поддержка приложения</strong>   <a href="mailto:artemgrushev@gmail.com">artemgrushev@gmail.com</a><br />
</address>