@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Приложение для работы с документами</h1>
    <p class="lead"> Web-приложение для работы с базой скан-образов документов</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Работа с видами документов</h2>
        <p><a class="btn btn-default" href="/Service/TypeOfDocuments">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сотрудники</h2>
        <p><a class="btn btn-default" href="/Worker/ListWorker">Перейти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Работа с документами</h2>
        <p><a class="btn btn-default" href="/Service/ListDocuments">Перейти &raquo;</a></p>
    </div>
</div>